extends layout

block content
	main
		.gallery
			each image in images
				.gallery__item(
					tabindex=0
					data-delay=`${image.delay}`
					data-id=`${image.thumb}`
					style={
						'background-image': `url('./images/${image.thumb}')`,
						'grid-area': `${image.grid}`,
						'color': `${image.hover}`
					})